<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServerStatus" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://bimain.bilearn.com:8181/VisioWcfServices.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServerStatus"
                contract="ServerStatusClient.IServerStatus" name="BasicHttpBinding_IServerStatus" />
        </client>
    </system.serviceModel>
</configuration>